---
import Layout from "../layouts/Layout.astro";
import { AngularHello } from "../components/hello.component.ts";
import SvelteHello from "../components/hello.svelte";
import { ReactHello } from "../components/hello";
import VueHello from "../components/hello.vue";

---

<Layout title="Welcome to Astro multri framework">
  <div class="h-screen w-screen flex justify-around items-center">
    <div>
      <AngularHello client:visible />
    </div>
    <div>
      <ReactHello client:visible />
    </div>
    <div>
      <SvelteHello client:visible />
    </div>
    <div>
      <VueHello client:visible />
    </div>
  </div>
</Layout>
