---
    const {name} = Astro.props;
---

<h2 class="text-orange-900">Hello {name}</h2>
<div class="flex flex-col">
    <a class="mb-2" href="login">Login</a>
    <a href="web3">Web3 Login</a>
</div>
<p>Doesn't communicate after the build</p>